<form >
    <div class="form-group">
        <label for="exampleInputEmail1">Nombre</label>
        <input type="text" class="form-control" id="name" placeholder="Nombre">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Apellido</label>
        <input type="text" class="form-control" id="lastname" placeholder="Apellido">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Cedula</label>
        <input type="text" class="form-control" id="cedula" placeholder="Cedula">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Telefono</label>
        <input type="text" class="form-control" id="phone" placeholder="Telefono">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Direccion</label>
        <input type="text" class="form-control" id="address" placeholder="Direccion">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Correo</label>
        <input type="text" class="form-control" id="email" placeholder="Correo">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Fecha de Nacimiento</label>
        <input type="date" class="form-control" id="birthdate" placeholder="Fecha de Nacimiento">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Fecha de Ingreso</label>
        <input type="date" class="form-control" id="date" placeholder="Fecha de Ingreso">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Fecha de Salida</label>
        <input type="date" class="form-control" id="date" placeholder="Fecha de Salida">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Tipo de Habitacion</label>
        <input type="text" class="form-control" id="roomtype" placeholder="Tipo de Habitacion">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Numero de Habitacion</
</form>