<!DOCTYPE html>
<html lang="en">
<head><%- include ("templates/header.ejs")%></head>
<body>
    <div>
        <%- include ("templates/navbar.ejs")%>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1><%= title %></h1>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Descipcion</th>
                            <th scope="col">Categoria</th>
                        </tr>
                    </thead>
                    <tbody>
                    
                    </tbody>
                    
                </table>
                <a href="/insertProduct" onclick="openPopup('/insertProduct')" class="btn custom-btn">Agregar nuevo producto</a>
            </div>
        </div>
    </div>

    <!-- Este script es solo de prueba del pop up (no deberia estar aqui :3) -->
    <script>
        function openPopup(url) {
          window.open(url, '_blank', 'width=600,height=400');
          return false;
        }
      </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
