<!DOCTYPE html>
<html lang="en">

<head><%- include ("templates/header.ejs")%></head>

<body>
    <div>
        <%- include ("templates/navbar.ejs")%>
    </div>

    <br>
    <br>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1  class="titulo-principal"><%= title %></h1>
            </div>
            <div class="card-body">

                
                <br>


                <button type="button" class="btn custom-btn" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    onclick="newProduct()">
                    Agregar nueva venta
                </button>

                <div id="popUp_modal">
                    <%- include ("templates/popUp.ejs", { modalTitle: 'Agregar nueva venta', modalContent: 'formSale.ejs' , button: 'Guardar', script: 'nombreSccript' })%>
                </div>

            </div>
        </div>
    </div>


    <script src="js/toast.js"></script>
    <script src="js/sales.js"></script>
    


</body>

</html>