body{
    background-color:#fcf4f5;
}

/*Estilos NavBar*/
.navbar.bg-body-tertiary {
    background-color: #ffdadf !important; 
  }

    .navbar-nav {
      width: 100%;
      display: flex;
      padding: 0; 
      justify-content: center; 
    }
  
    .navbar-nav .nav-item {
      text-align: center;
      margin: 0 5px; 
      font-family: "Gabriola", sans-serif; 
      font-size: 25px
    }
  
    .navbar-nav .nav-item:nth-child(1) {
      margin-right: 80px;
    }
  
    .navbar-nav .nav-item:nth-child(2) {
      margin-left: 140px;
      margin-right: 140px;
    }
  
    .navbar-nav .nav-item:nth-child(3) {
      margin-left: 80px;
    }

    .navbar-nav .nav-link .fas {
        color: #f68897;
      }

      .navbar-nav .nav-link {
        color: #0e0d0d;
      }


      .navbar-brand img {
        width: 100px; 
        height: auto; 
      }

      .navbar-brand{
        margin-left: 60px;
       
      }

      .navbar-nav .nav-link:hover {
        background-color: #ffcfd6;
      }

      
.custom-btn {
  background-color: #feb8c1; 
  color: black;
  border-radius: 4px;
  font-family: "Gabriola", sans-serif; 
  text-align: center;
  font-size: 25px
}

.custom-btn:hover {
  background-color: #fed4da;
}
  
  

/*Estilos table*/

#miTabla_wrapper {
  font-size: 25px;
  font-family: "Gabriola", sans-serif; 
}

#miTabla th, #miTabla td {
  padding: 10px;
}

#miTabla_paginate .paginate_button {
  margin: 2px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

#miTabla_paginate .paginate_button:hover {
  background-color: #007bff;
  color: #fff;
}


/*Estilos carrusel*/
.carousel-item img {
  max-width: 500px;
  height: 500px;
  max-height: 500px; 

}

.carousel-item img {
  display: block;
  margin: 0 auto; 
}

/*Estilos texto*/
h3, p {
  font-family: "Gabriola", sans-serif; 
  text-align: center;
  font-size: 25px
}

h3 {
  font-size: 45px
}

.titulo-principal {
  font-family: "Gabriola", sans-serif; 
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}
