<div class="table-responsive">


    <table id="miTabla" class="table">
        <thead>
            <tr>
                <% Object.keys(data[0]).forEach(function(columnName) { %>
                <th scope="col"><%= columnName %></th>
                <% }); %>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(function(row) { %>
            <tr>
                <% Object.values(row).forEach(function(value) { %>
                <td><%= value %></td>
                <% }); %>
                <td>
                    <button type="button" class="btn btn-info" onclick='editRow(<%- (JSON.stringify(row)) %>)'>
                        <i class="bi bi-pencil"></i>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" onclick='deteleRow(<%- JSON.stringify(row.ID) %>)'>
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>

</div>